<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ru</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ru</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.kptv.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kptv</string>
			</array>
		</dict>
	</array>
	<key>KINOPUB_CLIENT_SECRET</key>
	<string>$(KINOPUB_CLIENT_SECRET)</string>
	<key>TMDB_API_KEY</key>
	<string>$(TMDB_API_KEY)</string>
</dict>
</plist>
